body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;    
}

.header{
    background-color: #1F2937;
    height: 80px;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.links{
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.links a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.links a:hover{
    color: rgb(219, 219, 219);
}

.header img{
    max-height: 80%;
}

.hero{
    display: flex;
    background-color: #1F2937;
    padding: 100px;
    
}
.hero img{
    
    width: 500px;
    margin-left: 50px;

}

.left{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

}


.hero .left .main-text{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
  
    
}

.hero .left .secondary-text{
    font-size: 18px;
    color: #f9faf8;
   
}

button{

    border: none;
    border-radius: 8px;
   padding: 10px;
   padding-left: 25px;
   padding-right: 25px;
   background-color: #1d5cc2;
   color: white;
   font-size: 20px;
   font-weight: 550;
}